/* sets height to match viewport and important tags are to load the background image properly */
body {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.title {
top: 0px;
margin-left: 150px;
}

nav {
height: 135px;
background-color: #212227;
}

/* Dropdown Button */
.dropbtn {
background-color: #3498DB;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
margin-top: 50px;
margin-left: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.chat-notification {
/* display: flex; */
max-width: 50rem;
margin: 0 auto;
padding: 1.5rem;
border-radius: 0.5rem;
background-color: #fff;
box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.chat-notification-logo-wrapper {
flex-shrink: 0;
}
.chat-notification-logo {
height: 3rem;
width: 3rem;
}
.chat-notification-content {
padding-top: 0.25rem;
}
.chat-notification-title {
/* color: #1a202c; */
font-size: 1.25rem;
line-height: 1.25;
}
.chat-notification-message {
/* color: #718096; */
font-size: 1rem;
line-height: 1.5;
}

#button-addon2 {
background-color: #F4F1BB;
color: #212227;
}

#pageTitle {
color: #B9FBC0;
}