body {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 100vh;
  backdrop-filter: blur(5px);
}

#search-box-container {
  margin-top: 300px;
}
.hide {
  display: none;
}

nav {
  background-color: #212227;

#title {
  margin-left: 800px;
  font-size: 35px;
}